@model IEnumerable<Auctions.Models.tblRoll>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

@using (@Html.BeginForm("Index", "AdminBid", FormMethod.Get))
{
    <table class="table">
        <tr>
            <th>
                @Html.DropDownList("AuctionID", null, "Select Auction", htmlAttributes: new { onchange = "this.form.submit();" })
                @Html.DropDownList("Lot", (SelectList)ViewBag.Lot, "All/Select Lot", new { onchange = "this.form.submit();" })
            </th>
            <th>
                Lot
            </th>
        </tr>
    </table>
}

<table class="table">
    <tr>
        <th>
            Lot
        </th>
        <th>
            Specy
        </th>

        <th>
            Number of Animals
        </th>
        <th>
            Bidding Price
        </th>
        <th>
            Total Price
        </th>
        @*<th>
            Buyer Number
        </th>*@
        <th>
            Buyer
        </th>
        @*<th>
            @Html.DisplayNameFor(model => model.tblCustomer1.CustomerID)
        </th>*@
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Lot)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ltSpecy.Description)
        </td>

        <td>
            @Html.DisplayFor(modelItem => item.Quantity)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BiddingPrice, new { htmlAttributes = new { @class = "form-control", @type = "number" } })
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BidTotalPrice)
        </td>
        @*<td>
            @Html.DisplayFor(modelItem => item.CustomerNumber)
        </td>*@
        <td>
            @Html.DisplayFor(modelItem => item.tblCustomer.CompanyName)
        </td>
        @*<td>
            @Html.DisplayFor(modelItem => item.tblCustomer1.CustomerID)
        </td>*@
        <td>
            @Html.ActionLink("Bid", "Bid", new { id=item.ID })
        </td>
    </tr>
}

</table>
