@model IEnumerable<Auctions.Models.tblRoll>

@{
    ViewBag.Title = "Index";
}
<head>
    <meta charset="UTF-8">
    <meta http-equiv="refresh" content=@ViewBag.RefreshTime />
    <title>NWWT Silent Auction</title>
    <style type="text/css">
        body {
            background-color: @ViewBag.BackgroundColor;
       
        }

        body, td, th {
            color: @ViewBag.TexColor;
            font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, sans-serif;
            font-style: normal;
            font-weight: normal;
            text-align: center;
            font-size: 8pt;
     

        }
    </style>
</head>
@using (Html.BeginForm())
{
    int i = 0;
    int pageSize = ViewBag.pageSize;
    int lastRecordDisp = ViewBag.lastRecordDisp;
    int J = 0;
    int currentLoop = 0;
    //int balanceToDispl = ViewBag.balanceToDispl;
    int records =  ViewBag.records;

    <table width:2000px class="table" border="1">
        <tr width:2000px></tr>
        @foreach (var item in Model)
        {
            J++;
            if (J > lastRecordDisp && currentLoop < pageSize)
            {
                currentLoop++;
                lastRecordDisp++;

                TimeSpan? difference = DateTime.Now - DateTime.Now;
                if (item.DateTimeClose != null && item.DateTimeClose > DateTime.Now)
                {

                    difference = item.DateTimeClose - DateTime.Now;
                }
                else
                {
                    difference = DateTime.Now - DateTime.Now;
                }
                int days = difference.Value.Days;
                int hours = difference.Value.Hours;
                int minutes = difference.Value.Minutes;
                int seconds = difference.Value.Seconds;
                ViewBag.TimeSpan = "";
                if (days > 0)
                {
                    ViewBag.TimeSpan = days.ToString() + " Days, ";
                }
                if (hours > 0)
                {
                    ViewBag.TimeSpan = ViewBag.TimeSpan + hours.ToString() + " Hours, ";
                }
                ViewBag.TimeSpan = ViewBag.TimeSpan + minutes.ToString() + " Minutes, " + seconds.ToString() + " Seconds";

                if (item.PictureName == null)
                {
                    item.PictureName = "NON.jpg";
                }
                @*@ViewBag.Price = "R " + item.BiddingPrice.ToString();*@


                //height = "84"

                @Html.HiddenFor(model => item.DateTimeClose)
                <td bgcolor=@ViewBag.RollImageBackColor><img src=@Url.Content(@ViewBag.ImagePath + item.PictureName) width="110" alt="Picture not available" class="center-block"/></td>
                //width = "330"
                    <td width = "350">
                        <p style="font-size: 18px; font-weight: bolder; color:  #F4080C">LOT : @Html.DisplayFor(model => item.Lot, new { htmlAttributes = new { @class = "form-control" } })</p>
                        
                        @*<p style="font-size: 18px; font-weight: bolder; color:  #F4080C">Buyer : @Html.DisplayFor(model => item.tblCustomer.BuyerNoes.BuyerNumber, new { htmlAttributes = new { @class = "form-control" } })</p>*@

                        <p style="font-size: 16px; font-weight: bolder;">@Html.DisplayFor(model => item.ltSpecy.Description, new { htmlAttributes = new { @class = "form-control" } })</p>
                        <p style="font-size: 16px; font-weight: bolder;"> CURRENT BID : R <span style="color: #F4080C">@Html.DisplayFor(model => item.BiddingPrice, new { htmlAttributes = new { @class = "form-control" } })</span></p>
                        @*<p style="font-size: 16px; font-weight: bolder;"> @ViewBag.Price</p>*@
                        @if (item.AuctionBuyerNo != null)
                        { 
                            <p style="font-size: 16px; font-weight: bolder;"> CURRENT BUYER: <span style="color: #F4080C">@Html.DisplayFor(model => item.AuctionBuyerNo, new { htmlAttributes = new { @class = "form-control" } })</span></p>
                        }

                        @if (item.DateTimeClose <= DateTime.Now)
                        {
                            <p style="font-size: 16px; font-weight: bolder; color : #F4080C"> BID CLOSED </p>
                        }
                        else
                        {
                            <p style="font-size: 14px; font-weight: bolder; color : #F4080C">Close in:  @ViewBag.TimeSpan</p>
                        }
                    </td>
                i++;
                if (i > ViewBag.Columns)
                {
                    <tr ></tr>
                    i = 0;
                }
                
            }
        }
        
        @{  currentLoop = 0;
            if (lastRecordDisp >= records)
            {
                lastRecordDisp = 0;
            }
            TempData["lastRec"] = lastRecordDisp;

        }
    </table>
            }
